.btn {
  display: inline-block;
  padding: 10px 15px;

  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
