.feedback {
  position: relative;

  max-width: 100%;

  background-color: $color-blue;

  &::before {
    position: absolute;

    display: block;
    content: "";
    z-index: 0;
    left: 0;
    top: 0;

    width: 50%;
    height: 100%;

    background: rgba($color-default-black, 0.5);
    opacity: 0.5;
    clip-path: polygon(0 0, 0 100%, 100% 0);

    @include vp-1023 {
      content: none;
    }
  }
}

.feedback__inner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;

  padding: 0 30px 0 20px;

  @include vp-767 {
    padding: 0 25px;
  }
}

.feedback__image {
  margin-top: 80px;

  z-index: 1;

  max-width: 510px;
  width: 100%;
  max-height: 285px;
  height: auto;

  @include vp-1023 {
    display: none;
  }
}

.feedback__title {
  margin: 0 0 11px;

  color: $color-secondary-white;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  letter-spacing: -0.01em;

  text-align: left;

  @include vp-1023 {
    margin: 0 0 6px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__text {
  margin: 0 0 36px 5px;

  color: $color-secondary-white;
  line-height: 22px;

  @include vp-1023 {
    margin: 0 0 26px;
  }

  @include vp-767 {
    margin: 0 0 34px;

    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__input,
.feedback__textarea {
  padding: 0;
  max-width: 100%;
  min-height: 50px;
  width: 100%;

  @include vp-767 {
    padding: 0;
  }
}

.feedback__textarea {
  grid-column: 1 / 3;

  @include vp-767 {
    grid-column: 1 / 2;
  }
}

.feedback__agree {
  max-width: 100%;
}

.feedback__agree-checkbox {
  max-width: 100%;
}

.feedback__agree-checkbox label {
  @include hover-focus {
    .feedback__agree-icon {
      border-color: rgba($color-default-black, 0.65);
    }
  }
}

.feedback__agree-icon {
  top: 8px;
  left: 16px;

  @include vp-1023 {
    top: 9px;
    left: 0;
  }
}

.feedback__content {
  max-width: 585px;
  width: 100%;
  min-width: 270px;

  @include vp-1023 {
    max-width: 100%;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, minmax(235px, 275px));
    max-width: 100%;

    padding-left: 5px;
    column-gap: 30px;
    row-gap: 20px;

    color: $color-secondary-white;

    @include vp-1023 {
      padding: 0;

      grid-template-columns: repeat(2, minmax(320px, 445px));
    }

    @include vp-767 {
      grid-template-columns: repeat(1, minmax(270px, 1fr));
    }


    input,
    textarea {
      max-width: 100%;
      width: 100%;

      color: rgba($color-secondary-white, 0.8);
      background-color: rgba($color-default-black, 0.15);
      border-color: rgba($color-default-black, 0.15);

      &::placeholder {
        color: inherit;
      }

      &:-webkit-autofill {
        box-shadow: 0 0 0 50px inherit inset;
        -webkit-text-fill-color: inherit;
      }
    }

    input {
      padding: 9px 12px;

      &:valid {
        border-color: $color-success;
      }

      &:-webkit-autofill {
        font-size: inherit;
        -webkit-text-fill-color: rgba($color-secondary-white, 0.8);
        box-shadow: 0 0 0 1000px  rgba($color-default-black, 0.15) inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    textarea {
      max-width: 100%;
      min-height: 155px;

      padding: 24px 12px 9px;

      @include vp-767 {
        min-height: 180px;
      }
    }

    .feedback__agree {
      grid-column: 1 / 3;
      padding-top: 14px;

      display: grid;
      grid-template-columns: minmax(235px, 275px) minmax(235px, 275px);
      column-gap: 30px;

      @include vp-1023 {
        grid-template-columns: repeat(2, minmax(320px, 445px));
      }

      @include vp-767 {
        padding-top: 10px;

        grid-column: 1 / 2;
        grid-template-columns: repeat(1, minmax(270px, 1fr));
      }

      button {
        max-width: 275px;
        min-height: 45px;
        height: min-content;
        max-height: auto;

        margin-right: 10px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 12px 11px 9px;

        cursor: pointer;
        transition: $trans-default;

        font-family: $ff-roboto-condensed;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        background-color: $color-default-black;
        color: inherit;

        border: 0;
        border-radius: 3px;

        @include focus {
          color: $color-blue;
          background-color: rgba($color-default-black, 0.8);

          transition: $trans-default;
        }

        @include hover-focus {
          color: $color-blue;
          background-color: rgba($color-default-black, 0.8);

          transition: $trans-default;
        }

        @include vp-1023 {
          padding: 16px 11px 9px;
          margin: 0;
          min-width: 100%;
        }
      }

      .custom-toggle--checkbox {
        padding: 14px 0 0;
        grid-column: 2 / 3;

        @include vp-1023 {
          padding: 8px 0 0;
        }

        @include vp-767 {
          padding: 25px 0 0;
          grid-column: 1 / 2;
        }

        input.focus-visible ~ .feedback__agree-icon {
          border-color: $color-default-black;
          transition: $trans-default;
        }

        .feedback__agree-icon {
          top: 8px;
          left: 10px;

          @include vp-1023 {
            top: 9px;
            left: 0;
          }

          @include vp-767 {
            top: 7px;
            left: 5px;
          }
        }

        label {
          position: relative;
          padding: 2px 0 0 36px;

          font-weight: 400;
          font-size: 14px;
          line-height: 16px;

          color: rgba($color-secondary-white, 0.8);

          @include vp-1023 {
            padding: 2px 0 0 26px;
          }

          @include vp-767 {
            padding: 2px 0 0 30px;
          }
        }

        label > * {
          color: inherit;
        }
      }
    }

    .is-invalid {
      button[type="submit"] {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}

.feedback--modal {
  position: relative;

  &::before {
    content: none;
  }

  margin-right: 15px;
  padding-top: 36px;

  max-width: 500px;
  min-width: 300px;
  min-height: 610px;

  .feedback__title {
    font-size: 30px;
    line-height: 42px;

    margin: 0 0 6px;
  }

  .feedback__text {
    max-width: 400px;

    font-size: 16px;
    line-height: 22px;
    margin: 0 0 37px -1px;
  }

  .feedback__content {
    form {
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    .feedback__agree {
      padding-top: 5px;
      grid-column: 1 / 2;
      grid-template-columns: repeat(1, minmax(270px, 1fr));

      button {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-width: 100%;
        width: 100%;
      }

      .feedback__agree-checkbox {
        margin-top: 17px;
        padding: 0 0 10px;
        grid-column: 1 / 2;

        .feedback__agree-icon {
          top: 4px;
          left: 9px;
        }
      }
    }
  }

  .feedback__close-btn {
    top: 15px;
    right: 15px;
    padding: 10px;

    @include hover-focus {
      background-color: rgba($color-default-black, 0.65);
      transition: $trans-default;
    }
  }
}
