.footer {
  padding: 50px 0 55px;
  background-color: $color-default-black;
  color: $color-secondary-white;
}

.footer__inner {
  display: flex;
  flex-direction: row;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__accordion {
  margin-left: auto;
}
