.social {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
}

.social__item {
  max-height: 40px;

  @include vp-1023 {
    margin: 5px 0 0;
  }
}

.social__link {
  display: block;
  max-width: 40px;
  max-height: 40px;
  padding: 5px;
}
